<div class="section-details">
    <div class="section-title">Event Details</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-col">
            {{validated-input model=model valuePath='title' value=model.title
                placeholder='Event Title' optional='optional'}}
        </div>
        <div class="form-col">
            {{validated-input model=model valuePath='location' value=model.location
                placeholder='Event Location' optional='optional'}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group optional">
            <label for="description"></label>
            {{textarea name="description" placeholder="Enter Description..."
                  class="form-control extend" value=model.description}}
        </div>
    </div>
</div>
{{yield}}
