<div class="section-details">
    <div class="section-title">Event Details</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-col">
            {{!--log 'model:' model--}}
            {{validated-input model=model valuePath='title' placeholder='Event Title' optional='optional'}}
        </div>
        <div class="form-col">
            {{validated-input model=model valuePath='location' placeholder='Event Location' optional='optional'}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group optional">
            <label for="description" ></label>
            <textarea id="description" name="description" ng-model="event.description" placeholder="Enter Description..." class="form-control extend"></textarea>
        </div>
    </div>
</div>
{{yield}}
