<div class="section-details">
    <div class="section-title">Invite Participants</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-group optional">
            <label>Participant's Emails</label>
            {{input type='text' id="participant_emails" value=participantList class="tags-input contacts selectized"}}
        </div>
    </div>
</div>
