<div class="section-details">
    <div class="section-title">Invite Participants</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-group optional">
            <label>Participant's Emails</label>
            {{#power-select-multiple-create
                  id="participant_emails"
                  class="tags-input contacts selectized"
                  placeholder="Select Participants or Add Email Addresses"
                  noMatchesMessage="No pre-populted contacts are available."
                  searchPlaceholder="Type your an email address"
                  searchField="email"
                  options=participantList
                  selected=selectionList
                  onchange=(action (mut selectionList))
                  showCreateWhen=(action "hideCreateOptionOnSameName")
                  buildSuggestion=capitalizeSuggestion
                  as |contact term|}}
              {{!-- log 'contact' contact --}}
                {{#if (eq contact.name '') }}
                  {{contact.email}}
                {{else}}
                  {{contact.name}} [{{contact.email}}]
                {{/if}}
            {{/power-select-multiple-create}}
            {{!-- log 'selectionList' selectionList participantList --}}
        </div>
    </div>
</div>
