<div class="section-details">
    <div class="section-title">Your Details</div>
</div>
<div class="section-main">
    <div class="form-row">
        <div class="form-col">
            {{validated-input model=model.creator valuePath='name' placeholder='Name'}}
        </div>
        <div class="form-col">
            {{validated-input model=model.creator valuePath='email' placeholder='Email'}}
        </div>
    </div>
</div>
{{yield}}
