.switch-row {
    display:table;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-clr;
    &:last-child {
        border:0;
    }
    .switch-details {
        display:table-cell;
        .title {
            font-size: em(14px);
            font-weight: bold;
        }
        .description {
            font-size: em(12px);
            color: $text-2-clr;
        }
    }
    .x-toggle-component{
      justify-content: flex-end !important;
    }

    .x-toggle-container.small{
      padding: 0 !important;
    }
  }
