
<h2 id="title">Welcome to Ember-Meetup</h2>
<h4>Collaborative Scheduling Done Right</h4>
<h5>Ember-Meetup lets you and your friends vote on a date to host an event</h5>

{{#link-to "events.new" class="button-new-event"}} Schedule an Event Now {{/link-to}}

{{outlet}}
